In [12]:
## db 와 테이블 만들기

from database import config
import mysql.connector


db = mysql.connector.connect(**config)
cursor = db.cursor()

In [16]:
cursor.execute(
    """
    ALTER TABLE news_gpt.remote_question DISCARD TABLESPACE;
    
    """
)

In [17]:
cursor.execute(
    """
    ALTER TABLE news_gpt.remote_question IMPORT TABLESPACE;
    
    """
)

In [18]:
cursor.execute(
    """
    ALTER TABLE news_gpt.remote_question
    ADD PRIMARY KEY (id0, gid);  
    
    """
)

In [13]:
cursor.execute(
    """
    drop table news_gpt.news_whole_ana
    """
)

In [11]:
cursor.execute(
    """
    create table news_gpt.news_whole_ana(
    id0 bigint not null auto_increment,
    gid varchar(10),
    title varchar(100),
    createtime timestamp,
    vector mediumblob,
    question mediumblob,
    checked varchar(1),
    primary key (id0, gid)
    )
    """
)

In [15]:
cursor.execute(
    """
    create table news_gpt.remote_question(
    id0 bigint not null,
    gid varchar(10) not null,
    title varchar(100),
    createtime timestamp,
    vector mediumblob,
    question mediumblob,
    checked varchar(1)
    )
    """
)

In [4]:
cursor.execute(

    """
    create table news_gpt.remote_question
    select * from news_gpt.news_ago_backup limit 1000;
    """
)

cursor.execute(

    """
    alter table news_gpt.remote_question 
    drop url,
    drop thumburl,
    drop length,
    add id0 bigint,
    add proper_noun mediumblob,
    add questions mediumblob,
    add checked varchar(1)
    """
)
db.commit()

In [ ]:
cursor.execute(

    """
    alter table news_gpt.remote_question 
    drop url,
    drop thumburl,
    drop length,
    add id0 bigint,
    add proper_noun mediumblob,
    add questions mediumblob,
    add checked varchar(1)
    """
)
db.commit()

In [3]:
cursor.execute(

    """
    alter table news_gpt.remote_question 
    drop checked
    """
)
db.commit()

In [ ]:
cursor.execute(

    """
    alter table news_gpt.remote_question 
    add checked varchar(1)
    """
)
db.commit()